$cornersPositionMap: (top, left), (top, right), (bottom, right), (bottom, left),

:root
  cursor: url("/src/assets/cursor.png"), pointer !important

.MagnetCursor
  display: flex
  width: 30px
  height: 30px
  position: absolute

  &__Corner
    width: 3px
    height: 3px
    position: absolute
    background-color: red

    @for $i from 1 through 4
      &:nth-child(#{$i})

        @each $prop in nth($cornersPositionMap, $i)
          #{$prop}: 0
